In [1]:
lst = []
type(lst)

list

In [2]:
names=["Krish", "Jack", "Jacob", 1, 2, 3, 4, 5]
print(names)

['Krish', 'Jack', 'Jacob', 1, 2, 3, 4, 5]

In [5]:
mixed_list = [1, "Hello", 3.14, True]
print(mixed_list)

[1, 'Hello', 3.14, True]

In [8]:
fruits = ["apple", "banana", "cherry", "kiwi", "pineapple"]
print(fruits[0], fruits[2], fruits[-1])

apple cherry pineapple

In [9]:
print(fruits[1:4])

['banana', 'cherry', 'kiwi']

In [11]:
print(fruits[1:3])

['banana', 'cherry']

In [12]:
print(fruits[-1:])

['pineapple']

In [13]:
print(fruits[-1:-3])

[]

In [14]:
fruits[0]="chikoo"
fruits

['chikoo', 'banana', 'cherry', 'kiwi', 'pineapple']

In [16]:
fruits.append("orange")
print(fruits)

['chikoo', 'banana', 'cherry', 'kiwi', 'pineapple', 'orange']

In [17]:
fruits.insert(1, "guava")
fruits

['chikoo', 'guava', 'banana', 'cherry', 'kiwi', 'pineapple', 'orange']

In [18]:
fruits.pop()
fruits

['chikoo', 'guava', 'banana', 'cherry', 'kiwi', 'pineapple']

In [19]:
fruits.index("banana")

2

In [20]:
fruits.insert(2, "banana")

In [21]:
fruits

['chikoo', 'guava', 'banana', 'banana', 'cherry', 'kiwi', 'pineapple']

In [22]:
print(fruits.count("banana"))

2

In [24]:
fruits.sort()
print(fruits)

['banana', 'banana', 'cherry', 'chikoo', 'guava', 'kiwi', 'pineapple']

In [25]:
fruits.reverse()
fruits

['pineapple', 'kiwi', 'guava', 'chikoo', 'cherry', 'banana', 'banana']

In [34]:
#slicing lists
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])
print(numbers[::-2])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 8, 6, 4, 2]

In [35]:
# iterating over a list
for fruit in fruits:
    print(fruit)

pineapple
kiwi
guava
chikoo
cherry
banana
banana

In [36]:
for index, number in enumerate(numbers):
    print(index, number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [1]:
# list comprehension
list=[]

for x in range(10):
    list.append(x**2)

print(list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
[x**3 for x in range(10)]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [3]:
#[expression for item in iterable]
#[expression for item in iterable if condition]

sq_nums = [num**2 for num in range(10)]
print(sq_nums)

sq_even = [num**2 for num in range(20) if num%2==0]
print(sq_even)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [4]:
#nested list comprehension
list1 = [1,2,3,4,5]
list2 = ["a", "b", "c", "d", "e"]

pair = [[i, j] for i in list1 for j in list2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [1, 'e'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [2, 'e'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [3, 'e'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd'], [4, 'e'], [5, 'a'], [5, 'b'], [5, 'c'], [5, 'd'], [5, 'e']]

In [5]:
#list comprehensions with function calls
words = ["hello", "world", "python", "list", "comprehension"]
lens = [len(i) for i in words]
print(lens)

[5, 5, 6, 4, 13]

In [7]:
#list comprehension with else block
nums = [i**2 if i%2==0 else i**3 for i in range(10)]
print(nums)

[0, 1, 4, 27, 16, 125, 36, 343, 64, 729]