In [2]:
import numpy as np
import pandas as pd

np.random.seed(123)

n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [3]:
n_class_0, n_class_1

(900, 100)

In [21]:
# create data frame using imbalanced data

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [22]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [23]:
df.tail()

     feature_1  feature_2  target
995   4.186897  -0.052874       1
996   2.438099   2.658482       1
997   2.128568   2.096702       1
998   2.947591   1.964598       1
999   1.813965   3.369347       1

In [24]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [25]:
# upsampling

df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [26]:
from sklearn.utils import resample

df_minority_upsampled = resample(df_minority, replace=True, n_samples=len(df_majority), random_state=42)

In [27]:
df_minority_upsampled.shape

(900, 3)

In [28]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951   4.581188  -0.521361       1
992   2.043757   2.262607       1
914   2.427336   0.584852       1
971   2.409195   2.063910       1
960   1.330994   2.412323       1

In [29]:
df_upsampled = pd.concat([df_majority, df_minority])

In [30]:
df_upsampled['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [ ]:
# down sampling