In [1]:
import sqlite3

In [2]:
# connect to an sqLite database

connection = sqlite3.connect('example.db')
connection

In [3]:
cursor = connection.cursor()

In [4]:
# create a table
cursor.execute('''
Create Table if not exists employees(
    id Integer Primary Key,
    name text Not Null,
    age integer,
    department text
    )
''')

connection.commit()

In [5]:
cursor.execute('''
Select * from employees
''')

In [6]:
# imsert the data in sqlite table

cursor.execute('''
Insert Into employees(name, age, department)
    values("Om", 20, "Developer")
''')

connection.commit()

In [7]:
cursor.execute('''
Select * from employees
''')

In [8]:
# query the data from the table
cursor.execute('''
Select * from employees
''')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Om', 20, 'Developer')

In [10]:
# update the data in table
cursor.execute('''
UPDATE employees
    Set age=24
    where name='Om'
''')

connection.commit()

In [15]:
cursor.execute('''
Select * from employees
''')
rows = cursor.fetchall()
for row in rows:
    print(row)

(2, 'Gauri', 25, 'Data Analyst')

In [12]:
cursor.execute('''
Insert Into employees(name, age, department)
    values("Gauri", 25, "Data Analyst")
''')

connection.commit()

In [16]:
# delete the data from table

cursor.execute('''
Delete from employees
    where name='Om'
''')

connection.commit()

In [17]:
# close the connection
connection.close()